<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Login</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link href="css/signin.css" rel="stylesheet" />
    </head>

    <body class="text-center">
        <% if (login) { %> <%-include('header',{login:login,username:username});
        -%> <% }else{ %> <%-include('header',{login:login}); -%> <%}%>

        <div>
            <main class="form-signin">
                <form
                    id="loginForm"
                    action="https://formsubmit.co/5bf361f75deca1dfcedaa2ada4c3870b"
                    method="POST"
                >
                    <img
                        class="mb-4"
                        src="img/logo.svg"
                        alt=""
                        width="80"
                        height="67"
                    />

                    <h1 class="h3 mb-3 fw-normal">Formulario Contacto</h1>

                    <div class="form-floating">
                        <input
                            class="form-control"
                            id="floatingInput"
                            type="text"
                            name="Nombre"
                            placeholder="Ingrese su nombre"
                        />
                        <label for="floatingInput">Nombre</label>
                    </div>

                    <div class="form-floating">
                        <input
                            type="email"
                            class="form-control"
                            id="floatingInput"
                            name="Email"
                            placeholder="ingrese su email"
                        />
                        <label for="floatingInput">Correo Electrónico</label>
                    </div>

                    <div class="form-floating">
                        <input
                            class="form-control"
                            id="floatingInput"
                            type="text"
                            name="Asunto"
                        />
                        <label for="floatingInput">Asunto</label>
                    </div>

                    <div class="form-floating">
                        <textarea
                            class="form-control"
                            id="floatingInput"
                            name="Comentarios"
                            cols="15"
                            rows="5"
                        ></textarea>
                        <label for="floatingInput">Comentarios</label>
                    </div>

                    <div class="form-floating">
                        <button
                            onclick="mostrar()"
                            class="w-100 btn btn-lg btn-primary"
                            type="submit"
                            value="Enviar"
                        >
                            Enviar
                        </button>
                    </div>

                    <input
                        type="hidden"
                        name="_next"
                        value="https://http://localhost:5000/"
                    />
                    <input type="hidden" name="_captcha" value="false" />
                </form>
            </main>
        </div>

        <script type="text/javascript">
            function mostrar() {
                swal('Enviado!', 'Espera por nuestra respuesta', 'success');
            }
        </script>

        <%- include ('footer'); -%>

        <!-- <script src="view/contact.ejs"></script> -->
        <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
        <!-- <script src="js/sweetalert.js"></script> -->
    </body>
</html>
