<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Login</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" />

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <link href="css/signin.css" rel="stylesheet" />
    </head>
    <body class="text-center">
        <main class="form-signin">
            <form id="forgotPassForm" action="/forgot-pass" method="POST" >
                <img
                    class="mb-4"
                    src="img/logo.svg"
                    alt=""
                    width="80"
                    height="67"
                />
                <h1 class="h3 mb-3 fw-normal">Recuperar contraseña</h1>
                <div class="form-floating">
                    <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        name="email"
                        placeholder="email"
                    />
                    <label for="floatingInput">Correo electronico</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">
                    Enviar Correo
                </button>
                <p>Si ya tienes una cuenta haz <a href="/login">click aqui</a></p>
            </form>
        </main>
    </body>
</html>
